<div class="container-fluid p-0">

<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-1 p-0">
      <div class="logo pt-2 pb-2">
        <h4 class="m-0">Ho<i class="fa-solid fa-magnifying-glass"></i>k</h4>
      </div>
    </div>
    <div class="col-9 p-0">

      <div class="p-1 rounded rounded-pill shadow-sm">
        <div class="input-group">
          <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class=" form-control border-0">
          <span class="search-icon"><i class="fa fa-minus fa-rotate-90 fa-lg"></i></span>
          <input type="text" class="search-box" placeholder="Postal Code OR Location" class=" form-control border-0">
          <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-2 p-0 d-flex justify-content-center">

      <div class="right d-flex align-items-center">
        <button class="btn rounded rounded-pill post-ad-btn">Post Ads</button>
        <button class="btn btn-outline flag-btn"><img src="../../../assets/images/Flag.png" alt=""></button>
      </div>


    </div>
  </div>
</div>

<div class="navbar-section d-flex align-items-center" style="height: 50px;">
  <div class="container p-0">
    <div class="row">
    <div class="col-1 d-flex align-items-center">
      <form action="" class="language-picker__form">
        <select class="language-select" name="language-picker-select" id="language-picker-select">
          <option lang="de" value="deutsch">Deutsch</option>
          <option lang="en" value="english" selected>English</option>
          <option lang="fr" value="francais">Français</option>
          <option lang="it" value="italiano">Italiano</option>
        </select>
      </form>
    </div>

    <div class="col-10 d-flex p-0 justify-content-center">

      <div class="navbar-list">
        <ul class="d-flex m-0 list-unstyled navbar-nav">
          <li class="nav-item"><a href="" class="text-decoration-none">Car & Bikes</a>
            <!-- <ul class="submenu">
              <li><a href="">Motorcycles</a></li>
              <li><a href="">Scooter</a></li>
              <li><a href="">Spare Parts</a></li>
              <li><a href="">Commercial & Other Vehicles</a></li>
              <li><a href="">Other Vehicles</a></li>
            </ul> -->
          </li>
          <li class="ps-3 nav-item">|</li>
          <li class="ps-4 nav-item"><a href="" class="text-decoration-none">Mobiles & Tablets</a>
            <!-- <ul class="submenu">
              <li><a href="">Mobile Phones</a></li>
              <li><a href="">Accesories</a></li>
              <li><a href="">Tablets</a></li>
            </ul> -->
          </li>
          <li class="ps-3 nav-item">|</li>
          <li class="ps-4 nav-item"><a href="" class="text-decoration-none">Electronics & Aplliances</a>
            <!-- <ul class="submenu">
              <li><a href="">TVs, Video - Audio</a></li>
              <li><a href="">Kitchen & Other Appliances</a></li>
              <li><a href="">Computers & Laptops</a></li>
              <li><a href="">Cameras & Lenses</a></li>
              <li><a href="">Games & Entertainment</a></li>
              <li><a href="">Fridges</a></li>
              <li><a href="">Computer Accessories</a></li>
              <li><a href="">Hard Disks, Printers & Monitors</a></li>
              <li><a href="">ACs</a></li>
              <li><a href="">Washing Machines</a></li>
            </ul> -->
          </li>
          <li class="ps-3 nav-item">|</li>
          <li class="ps-4 nav-item"><a href="" class="text-decoration-none">Real Estate</a>
            <!-- <ul class="submenu">
              <li><a href="">Commercial Property for Rent</a></li>
              <li><a href="">Commercial Property for Sale</a></li>
              <li><a href="">Houses - Apartments for Rent</a></li>
              <li><a href="">Two-Way Radios</a></li>
              <li><a href="">Houses - Apartments for Sale</a></li>
              <li><a href="">Land - Plot For Sale</a></li>
              <li><a href="">Paying Guest - Hostel</a></li>
              <li><a href="">Service Apartments</a></li>
            </ul> -->
          </li>
          <li class="ps-3 nav-item">|</li>
          <li class="ps-4 nav-item"><a href="" class="text-decoration-none">Home & Lifestyle</a>
            <!-- <ul class="submenu">
              <li><a href="">Furniture & Decor</a></li>
              <li><a href="">Sports, Books & Hobbies</a></li>
              <li><a href="">Kids & Toys</a></li>
              <li><a href="">Fashion</a></li>
              <li><a href="">Health - Beauty Products</a></li>
            </ul> -->
          </li>
          <li class="ps-3 nav-item">|</li>
          <li class="ps-4 nav-item"><a href="" class="text-decoration-none">Services</a>
            <!-- <ul class="submenu">
              <li><a href="">Electronics & Computer</a></li>
              <li><a href="">Education & Classes</a></li>
              <li><a href="">Drivers & Taxi</a></li>
              <li><a href="">Health & Beauty</a></li>
              <li><a href="">Other Services</a></li>
            </ul> -->
          </li>
          <li class="ps-3 nav-item">|</li>
          <li class="ps-4 nav-item"><a href="" class="text-decoration-none">Entertainment</a>
            <!-- <ul class="submenu">
              <li><a href="">Acting - Modeling Roles</a></li>
              <li><a href="">Fashion Designers - Stylists</a></li>
              <li><a href="">Make Up - Hair - Films & TV</a></li>
              <li><a href="">Modeling Agencies</a></li>
              <li><a href="">Photographers - Cameraman</a></li>
              <li><a href="">Studios - Locations for hire</a></li>
            </ul> -->
          </li>
          <li class="ps-3 nav-item">|</li>
          <li class="ps-4 nav-item"><a href="" class="text-decoration-none">Jobs</a>
            <!-- <ul class="submenu">
              <li><a href="">IT Engineer & Developer</a></li>
              <li><a href="">Sales & Marketing</a></li>
              <li><a href="">BPO & Telecaller</a></li>
              <li><a href="">Office Assistant</a></li>
              <li><a href="">Delivery & Collection</a></li>
              <li><a href="">Teacher</a></li>
              <li><a href="">Receptionist & Front office</a></li>
              <li><a href="">Designer</a></li>
              <li><a href="">Hotel & Travel Executive</a></li>
              <li><a href="">Other</a></li>
            </ul> -->
          </li>
        </ul>
      </div>

    </div>

    <div class="col-1 d-flex p-0 justify-content-center">
      <div class="navbar-list">
        <ul class="m-0 list-unstyled d-flex">
          <li><a href="">Login</a></li>
          <li>/</li>
          <li><a href="">Register</a></li>
        </ul>
      </div>
    </div>
  </div>




</div>

</div>

</div>
