<app-slider></app-slider>

<div class="container-fluid" style=" margin-bottom: 50px;">

  <div class="container justify-content-center">
    <div class="services">
      <h1 class="text-center mb-5">You May Also Like</h1>
      <div class="service-list">
        <div class="row">
          <div class="col-3 d-flex pt-3 pb-3">
            <div class="service-card">
            <div class="service-img d-flex align-items-center">
              <img src="../../../assets/images/service-1.jpg" alt="">
                <div class="service-text ms-3">
                  <h6 class="mb-0 fw-bold">Car & Bikes</h6>
                  <small>20,000 Ads</small>
                </div>
              </div>
              </div>
            </div>
          <div class="col-3 d-flex pt-3 pb-3" >
            <div class="service-card">
            <div class="service-img d-flex align-items-center">
              <img src="../../../assets/images/service-2.jpg" alt="">
                <div class="service-text ms-3">
                  <h6 class="mb-0 fw-bold">Mobiles & Tablets</h6>
                  <small>20,000 Ads</small>
                </div>
              </div>
              </div>
            </div>
          <div class="col-3 d-flex pt-3 pb-3" >
            <div class="service-card">
            <div class="service-img d-flex align-items-center">
              <img src="../../../assets/images/service-3.jpg" alt="">
                <div class="service-text ms-3">
                  <h6 class="mb-0 fw-bold">Electronics & Appliances</h6>
                  <small>20,000 Ads</small>
                </div>
              </div>
              </div>
            </div>
          <div class="col-3 d-flex pt-3 pb-3" >
            <div class="service-card">
            <div class="service-img d-flex align-items-center">
              <img src="../../../assets/images/service-4.jpg" alt="">
                <div class="service-text ms-3">
                  <h6 class="mb-0 fw-bold">Real Estate</h6>
                  <small>20,000 Ads</small>
                </div>
              </div>
              </div>
            </div>
          </div>


          <div class="row mt-5">
            <div class="col-3 d-flex pt-3 pb-3">
              <div class="service-card">
              <div class="service-img d-flex align-items-center ">
                <img src="../../../assets/images/service-5.jpg" alt="">
                  <div class="service-text ms-3">
                    <h6 class="mb-0 fw-bold">Home & Lifestyles</h6>
                    <small>20,000 Ads</small>
                  </div>
                </div>
                </div>
              </div>
            <div class="col-3 d-flex pt-3 pb-3" >
              <div class="service-card">
              <div class="service-img d-flex align-items-center">
                <img src="../../../assets/images/service-1.jpg" alt="">
                  <div class="service-text ms-3">
                    <h6 class="mb-0 fw-bold">Jobs</h6>
                    <small>20,000 Ads</small>
                  </div>
                </div>
                </div>
              </div>
            <div class="col-3 d-flex pt-3 pb-3" >
              <div class="service-card">
              <div class="service-img d-flex align-items-center">
                <img src="../../../assets/images/service-1.jpg" alt="">
                  <div class="service-text ms-3">
                    <h6 class="mb-0 fw-bold">Services</h6>
                    <small>20,000 Ads</small>
                  </div>
                </div>
                </div>
              </div>
            <div class="col-3 d-flex pt-3 pb-3" >
              <div class="service-card">
              <div class="service-img d-flex align-items-center">
                <img src="../../../assets/images/service-1.jpg" alt="">
                  <div class="service-text ms-3">
                    <h6 class="mb-0 fw-bold">Entertainment</h6>
                    <small>20,000 Ads</small>
                  </div>
                </div>
                </div>
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>

  <app-card-slider></app-card-slider>
