<div class="container-fluid pb-5" style="background: #F1F5FB;">
  <div class="container">
    <h1 class="text-center pt-5 mb-5">Featured Products</h1>
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">


          <div class="row">

            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>


            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>



        </div>
        <div class="carousel-item">



          <div class="row">

            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>


            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="COL-XS-12 COL-SM-12 COL-MD-3 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/card-slider-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>


        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
